.user-infomation {
  display: flex;
  justify-content: space-between;
}
.user-infomation .userName-role {
  margin-left: 215px;
}
.user-infomation .userName-role h2 {
  color: #a303a0;
  font-size: 30px;
}
.user-infomation .userName-role p {
  color: #a303a0;
  font-size: 18px;
}
.user-infomation .follow-btn {
  margin-right: 54px;
}
.user-infomation .follow-btn .btnSchedule {
  width: 172px;
  height: 44.675px;
  border: 1px solid #a303a0;
  color: #a303a0;
  background-color: #fff;
}
.user-infomation .follow-btn button {
  border-radius: 13px;
  margin-left: 10px;
  cursor: pointer;
}
.user-infomation .follow-btn button:hover {
  background-color: #fbb03b;
}

.recomman-friend-container {
  display: flex;
  flex-direction: column;
}

.recomman-friend-container .recomand-friend1 {
  background: #fff;
  width: 260px;
  margin-left: 29px;
  border-radius: 10px;
  padding: 22px 10px 40px 45px;
}
.recomman-friend-container .recomand-friend1 h1 {
  color: #490057;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.recomman-friend-container .recomand-friend1 .friend {
  margin-top: 27px;
  display: flex;
}
.recomman-friend-container .recomand-friend1 .friend .friend-img {
  width: 34px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 34px;
  background-color: rgb(96, 169, 229);
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}
.recomman-friend-container .recomand-friend1 .friend .friend-info {
  margin-left: 10px;
}
.recomman-friend-container .recomand-friend1 .friend .friend-info h2 {
  color: #490057;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}
.recomman-friend-container .recomand-friend1 .friend .friend-info p {
  color: #490057;
  font-size: 14px;
  font-weight: 100;
}
.recomman-friend-container .recomand-friend1 .friend .time-onl {
  font-size: 12px;
  color: #b6b2b2;
  margin-left: 30px;
  margin-top: 5px;
}
.recomman-friend-container .recomand-friend1 .friend .friend-img .online {
  position: relative;
  top: -15px;
  left: 25px;
  width: 8px;
  height: 8px;
  background-color: #8bc34a;
  border-radius: 13px;
  border: 3px solid #fafafa;
}
.recomman-friend-container .recomand-friend1 .friend .friend-img .busy {
  position: relative;
  top: -15px;
  left: 25px;
  width: 8px;
  height: 8px;
  background-color: #ff8f6b;
  border-radius: 13px;
  border: 3px solid #fafafa;
}
.recomman-friend-container .recomand-friend1:last-child {
  margin-top: 20px;
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  body {
    background-color: green;
  }
  .container .side-bar-menu-left {
    position: fixed;
    width: 218px;
    height: 100%;
    background: #490057;
    display: none;
    flex-direction: column;
    align-items: center;
  }
  .container .visitor-content {
    margin-left: 0px;
    padding: 2%;
    width: 100%;
  }
  .container .visitor-content .header {
    justify-content: space-between;
  }
  .container .visitor-content .header .search-input {
    width: 61%;
  }
  .container .visitor-content .header .user-account {
    margin-right: 45px;
  }
  .container .visitor-content .user-cover-info {
    width: 95%;
  }
  .container .visitor-content .user-cover-info .user-infomation .follow-btn .btnSchedule {
    position: absolute;
    width: 172px;
    height: 44.675px;
    border: 1px solid #a303a0;
    color: #a303a0;
    background-color: #fff;
    margin-left: -175px;
    border-radius: 13px;
  }
  .container .visitor-content .user-cover-info .btnEdit {
    position: absolute;
    width: 172px;
    height: 44.675px;
    border: 1px solid #a303a0;
    color: #a303a0;
    background-color: #fff;
    margin-left: -230px;
    border-radius: 13px;
    margin-top: 199px;
  }
  .container .visitor-content .user-cover-info .btnEdit:hover {
    background-color: #fbb03b;
    cursor: pointer;
  }
  .container .visitor-content .user-cover-info .img-cover {
    width: 100%;
    height: 280px;
  }
  .container .visitor-content .user-cover-info .user-avatar {
    width: 179.82px;
    height: 179.82px;
    flex-shrink: 0;
    border-radius: 179.82px;
    overflow: hidden;
    margin-top: -133px;
    margin-left: 56px;
  }
  .container .visitor-content .user-cover-info .user-avatar img {
    width: 100%;
    height: 100%;
    background-color: rgb(244, 150, 43);
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container .visitor-content .main-content {
    display: block;
  }
  .container .visitor-content .main-content .about-info-user {
    height: 348px;
    width: 95%;
  }
  .container .visitor-content .main-content .about-info-user h2 {
    padding-top: 20px;
    text-align: center;
  }
  .container .visitor-content .main-content .about-info-user li {
    font-size: 23px;
  }
  .container .visitor-content .main-content .post-of-user {
    float: right;
    margin-top: 20px;
    margin-right: 42px;
  }
  .container .visitor-content .main-content .recomand-friend {
    margin-top: 20px;
    margin-left: -3px;
  }
  .container .visitor-content .main-content .recomand-friend1 {
    margin-top: 20px;
    margin-left: 0px;
  }
}
@media only screen and (max-width: 985px) {
  .container .side-bar-menu-left {
    position: fixed;
    width: 218px;
    height: 100%;
    background: #490057;
    display: none;
    flex-direction: column;
    align-items: center;
  }
  .container .visitor-content {
    margin-left: 0;
    padding: 2%;
    width: 100%;
  }
  .container .visitor-content .header {
    justify-content: space-between;
  }
  .container .visitor-content .header .search-input {
    width: 61%;
  }
  .container .visitor-content .header .user-account {
    margin-right: 45px;
  }
  .container .visitor-content .user-cover-info {
    width: 95%;
  }
  .container .visitor-content .user-cover-info .btnEdit {
    position: absolute;
    width: 172px;
    height: 44.675px;
    border: 1px solid #a303a0;
    color: #a303a0;
    background-color: #fff;
    margin-left: -230px;
    border-radius: 13px;
    margin-top: 199px;
  }
  .container .visitor-content .user-cover-info .btnEdit:hover {
    background-color: #fbb03b;
    cursor: pointer;
  }
  .container .visitor-content .user-cover-info .img-cover {
    width: 100%;
    height: 280px;
  }
  .container .visitor-content .user-cover-info .user-avatar {
    width: 179.82px;
    height: 179.82px;
    flex-shrink: 0;
    border-radius: 179.82px;
    overflow: hidden;
    margin-top: -133px;
    margin-left: 56px;
  }
  .container .visitor-content .user-cover-info .user-avatar img {
    width: 100%;
    height: 100%;
    background-color: rgb(244, 150, 43);
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container .visitor-content .main-content {
    display: block;
  }
  .container .visitor-content .main-content .about-info-user {
    height: 348px;
    width: 95%;
  }
  .container .visitor-content .main-content .about-info-user h2 {
    padding-top: 20px;
    text-align: center;
  }
  .container .visitor-content .main-content .about-info-user li {
    font-size: 23px;
  }
  .container .visitor-content .main-content .post-of-user {
    float: right;
    margin-top: 400px;
    margin-right: 33px;
    width: 95%;
  }
  .container .visitor-content .main-content .recomman-friend-container {
    display: flex;
    flex-direction: row;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:first-child {
    position: absolute;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:first-child h1 {
    color: #490057;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:first-child .friend {
    margin-top: 27px;
    display: flex;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:first-child .friend .friend-img {
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 34px;
    background-color: rgb(96, 169, 229);
    background-repeat: no-repeat;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:first-child .friend .friend-info {
    margin-left: 10px;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:first-child .friend .friend-info h2 {
    color: #490057;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:first-child .friend .friend-info p {
    color: #490057;
    font-size: 14px;
    font-weight: 100;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:first-child .friend .time-onl {
    font-size: 12px;
    color: #b6b2b2;
    margin-left: 30px;
    margin-top: 5px;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:first-child .friend .friend-img .online {
    position: relative;
    top: -15px;
    left: 25px;
    width: 8px;
    height: 8px;
    background-color: #8bc34a;
    border-radius: 13px;
    border: 3px solid #fafafa;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:first-child .friend .friend-img .busy {
    position: relative;
    top: -15px;
    left: 25px;
    width: 8px;
    height: 8px;
    background-color: #ff8f6b;
    border-radius: 13px;
    border: 3px solid #fafafa;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:last-child {
    right: 0;
    position: absolute;
    margin-right: 65px;
  }
}
@media only screen and (max-width: 46.1875em) {
  .container .visitor-content .user-cover-info {
    width: 95%;
  }
  .container .visitor-content .user-cover-info .user-infomation .follow-btn .btnSchedule {
    position: absolute;
    width: 100px;
    height: 44.675px;
    border: 1px solid #a303a0;
    color: #a303a0;
    background-color: #fff;
    margin-left: -80px;
    border-radius: 13px;
  }
  .container .visitor-content .user-cover-info .btnEdit {
    position: absolute;
    width: 100px;
    height: 44.675px;
    border: 1px solid #a303a0;
    color: #a303a0;
    background-color: #fff;
    margin-left: -135px;
    border-radius: 13px;
    margin-top: 199px;
  }
  .container .visitor-content .user-cover-info .btnEdit:hover {
    background-color: #fbb03b;
    cursor: pointer;
  }
  .container .visitor-content .user-cover-info .img-cover {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 280px;
  }
  .container .visitor-content .user-cover-info .user-avatar {
    width: 149.82px;
    height: 149.82px;
    flex-shrink: 0;
    border-radius: 179.82px;
    overflow: hidden;
    margin-top: -113px;
    margin-left: 16px;
  }
  .container .visitor-content .user-cover-info .user-avatar img {
    width: 100%;
    height: 100%;
    background-color: rgb(244, 150, 43);
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container .visitor-content .main-content {
    display: block;
  }
  .container .visitor-content .main-content .about-info-user {
    height: 348px;
    width: 95%;
    margin-top: -20px;
  }
  .container .visitor-content .main-content .about-info-user h2 {
    padding-top: 20px;
    text-align: center;
  }
  .container .visitor-content .main-content .about-info-user li {
    font-size: 18px;
  }
  .container .visitor-content .main-content .post-of-user {
    float: right;
    margin-top: 650px;
    margin-right: 24px;
    width: 95%;
  }
  .container .visitor-content .main-content .post-of-user .post-content .content-post-container .img-post img {
    width: 90%;
  }
  .container .visitor-content .main-content .recomman-friend-container {
    display: flex;
    flex-direction: column;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:first-child {
    position: absolute;
    margin-top: 15px;
    margin-left: 0px;
    width: 84%;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:first-child h1 {
    margin-left: -20px;
    color: #490057;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:first-child .friend {
    margin-top: 27px;
    margin-left: -20px;
    display: flex;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:first-child .friend .friend-img {
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 34px;
    background-color: rgb(96, 169, 229);
    background-repeat: no-repeat;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:first-child .friend .friend-info {
    margin-left: 10px;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:first-child .friend .friend-info h2 {
    color: #490057;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:first-child .friend .friend-info p {
    color: #490057;
    font-size: 14px;
    font-weight: 100;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:first-child .friend .time-onl {
    font-size: 12px;
    color: #b6b2b2;
    margin-left: 30px;
    margin-top: 5px;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:first-child .friend .friend-img .online {
    position: relative;
    top: -15px;
    left: 25px;
    width: 8px;
    height: 8px;
    background-color: #8bc34a;
    border-radius: 13px;
    border: 3px solid #fafafa;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:first-child .friend .friend-img .busy {
    position: relative;
    top: -15px;
    left: 25px;
    width: 8px;
    height: 8px;
    background-color: #ff8f6b;
    border-radius: 13px;
    border: 3px solid #fafafa;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:last-child {
    position: absolute;
    margin-top: 300px;
    margin-left: 9px;
    width: 85%;
    left: 0;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:last-child h1 {
    margin-left: -20px;
    color: #490057;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:last-child .friend {
    margin-top: 27px;
    margin-left: -20px;
    display: flex;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:last-child .friend .friend-img {
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 34px;
    background-color: rgb(96, 169, 229);
    background-repeat: no-repeat;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:last-child .friend .friend-info {
    margin-left: 10px;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:last-child .friend .friend-info h2 {
    color: #490057;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:last-child .friend .friend-info p {
    color: #490057;
    font-size: 14px;
    font-weight: 100;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:last-child .friend .time-onl {
    font-size: 12px;
    color: #b6b2b2;
    margin-right: 30px;
    margin-top: 5px;
    position: absolute;
    right: 0;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:last-child .friend .friend-img .online {
    position: relative;
    top: -15px;
    left: 25px;
    width: 8px;
    height: 8px;
    background-color: #8bc34a;
    border-radius: 13px;
    border: 3px solid #fafafa;
  }
  .container .visitor-content .main-content .recomman-friend-container .recomand-friend1:last-child .friend .friend-img .busy {
    position: relative;
    top: -15px;
    left: 25px;
    width: 8px;
    height: 8px;
    background-color: #ff8f6b;
    border-radius: 13px;
    border: 3px solid #fafafa;
  }
}/*# sourceMappingURL=owner.css.map */