.user-infomation {
  display: flex;

  .userName-role {
    margin-left: 215px;
  }
  .userName-role h2 {
    color: #a303a0;
    font-size: 30px;
  }
  .userName-role p {
    color: #a303a0;
    font-size: 18px;
  }
  .follow-btn {
    margin-left: 400px;
    & > .chat {
      background-color: #a303a0;
      padding: 12px 10px 7px 11px;
      border-radius: 50%;
      position: relative;
      transform: translateY(8px);
    }
    .btnFollow {
      background-color: #a303a0;
      color: #fff;
      width: 172px;
      height: 44.675px;
    }
    .btnSchedule {
      width: 172px;
      height: 44.675px;
      border: 1px solid #a303a0;
      color: #A303A0;
      background-color: #fff;
    }
  }
  .follow-btn button{
    border-radius: 13px;
    margin-left:10px;
    cursor: pointer;

  }
  .follow-btn button:hover{
    background-color: #fbb03b;
  }
}

.online {
  position: relative;
  top: 30px;
  left: 35px;
  width: 13px;
  height: 13px;
  background-color: #8BC34A;
  border-radius: 13px;
  border: 3px solid #FAFAFA;
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
  .user-infomation{
    margin-top:-25px;
    display: flex;
    justify-content: space-between;
    .userName-role{
      
      margin-left:225px;
      h2 {
        font-size: 24px;
        width: 100%;
        margin-right: 100px; 
      }

    }
    .follow-btn{
      margin-left:0px;
      display: flex;
      margin-top:10px;
     

      & > .chat {
        background-color: #a303a0;
        padding: 12px 10px 7px 11px;
        border-radius: 50%;
        position: relative;
        transform: translateY(0px);
      }
      .btnFollow {
        background-color: #a303a0;
        color: #fff;
        width:100%;
        height: 44.675px;
        width: 150%;
      }
      .btnSchedule {
        border: 1px solid #a303a0;
        color: #A303A0;
        background-color: #fff;
        margin-right: 20px;
        width:190%;
        
      }

      button{
        border-radius: 13px;
        margin-left:18px;
        cursor: pointer;
    
      }
    }
  }
}
@media only screen and (max-width: 46.1875em){

  
  .user-infomation{
    margin-top:-25px;
    display: flex;
    justify-content: space-between;
    .userName-role{
      margin-top:40px;
      margin-left:30px;
      h2 {
        font-size: 24px;
        width: 100%;
        margin-right: 100px; 
      }

    }
    .follow-btn{
      margin-left:-100px;
      display: flex;
      flex-direction: column;
      margin-top:-20px;
      
     

      & > .chat {
        background-color: #a303a0;
        width:50px;
        height: 50px;
        border-radius: 50%;
        transform: translateY(0px);
        position: absolute;
        margin-top:70px;
        margin-left:40px;
      }
      .btnFollow {
        background-color: #a303a0;
        color: #fff;
        width:60%;
        height: 44.675px;
        margin-top:-50px;
      }
      .btnSchedule {
        border: 1px solid #a303a0;
        color: #A303A0;
        background-color: #fff;
        margin-right: 20px;
        width:60%;
        margin-top:20px;
        
      }

      button{
        border-radius: 13px;
        margin-left:18px;
        cursor: pointer;
    
      }
    }
  }
}